<!-- template.html -->


<div class="container " style="min-height: 669px  !important;
max-width: 1865px !important;
">
    <div class="row justify-content-md-center">

        <!-- part 1 -->
        <div class="col ">
            <div class="css-165ep0a">

                <h1 class="css-1ykowef custom-h1">Dennis Biström</h1>
                <p class="custom-text">Head of DevLab</p>
                <div class="css-1yjt3jx">
                    <div class="col d-flex justify-content-left">

                     
                        <div class="btn-group rounded-circle" style="margin-bottom: 20px;">
                            <div class="position-relative rounded-circle bg-primary d-flex align-items-end justify-content-center"
                                style="width: 145px; height: 145px; padding-bottom: 40px;">
                                <a  class="text-decoration-none  clickable-image-bistrom">
                                    <img src="../img/people/Dennis6_BW_cf4910c3e4.webp" alt="Circle Image"
                                        class="rounded-circle position-absolute top-50 start-50 translate-middle"
                                        style="width: 90%; height: 90%;">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- part 2 -->
        <div class="col-lg-10  " style="max-width: 100% !important;">
            <div class="css-16i2mxe">
                <h2 class="css-kj9vo7 custom-h2">Summary</h2>
                <p class="custom-text">
                    Dennis Biström is an IT-Lecturer at Arcada UAS where he teaches full stack web programming and data
                    managing, visualization and engineering.
                </p>
                <p class="custom-text">
                    As a researcher, he has worked with design and manufacturing of embedded electronics for measuring
                    heat loss as well as silicone robot grippers.
                </p>
                <p class="custom-text">
                    As a PhD student at Åbo Akademi, he is currently researching human robot interaction in his role as
                    the lead robot whisperer of TechLabs.
                </p>
                <p class="custom-text">
                    Previously he worked on a project related to cyclic economies, digital twins and plastic recycling
                    and this interest in digital manufacturing is currently present both in his work on VR/XR as well as
                    in his work on digital social agents.
                </p>
                <div class="css-1bemglt"></div>
            </div>
        </div>


    </div>

    <div class="row justify-content-md-center">

        <!-- part 3 -->
        <div class="col ">
            <div class="css-165ep0a">


                <p class="custom-text">Lehtori, Tietotekniikka</p>
                <p class="custom-text ">
                    dennis.bistrom@arcada.fi
                </p>
                <p class="custom-text ">
                    0294 282 818
                </p>

                <div class="css-1yjt3jx">
                    <div class="col d-flex justify-content-left">



                    </div>
                </div>

            </div>
        </div>
        <!-- part 4 -->
        <div class="col-lg-10  " style="max-width: 100% !important;">
            <div class="css-16i2mxe">

                <h2 class="css-kj9vo7 custom-h2">Publications</h2>
                <p class="custom-text">
                    Hägglund, S. Tigerstedt, C., Biström, D. Espinosa-Leal, L., Wingren, M., Andersson, S., Penttinen,
                    J. & Kuvaja Adolfsson, K. (2022) Stakeholders’ experiences of and expectations for robot accents in
                    a dental care simulation. A Finland-Swedish case study..


                </p>
                <p class="custom-text">
                    Tigerstedt, C. Biström, D. (2021) Teaching and learning with humanoid social and service robots in
                    higher education -learnings from service design and it framework use case development modules.
                    Available at: https://library.iated.org/view/TIGERSTEDT2021TEA
                    <a
                        href="https://library.iated.org/view/TIGERSTEDT2021TEA">https://library.iated.org/view/TIGERSTEDT2021TEA</a>
                </p>

                <p class="custom-text">
                    Majd A., Biström D., Tigerstedt C. & Espinosa-Leal L. (2021). Social and Service Robots Deployed for
                    Social Distancing - Optimization and Placement. Available at:
                    <a
                        href="https://ieeexplore.ieee.org/document/9591050">https://ieeexplore.ieee.org/document/9591050</a>
                </p>

            </div>
        </div>


    </div>

</div>
</div>



<footer class="  footer  ">
    <div class="container-fluid d-flex justify-content-between align-items-center footer-custom">
        <div class="logo  ">
            <!-- <img src="../../img/nedladdning.svg" alt="Logo" width="100" height="100"> -->
        </div>
        <div class="exit-button">
            <a href="./" class="btn btn btn-dark" style="width: 10rem;">Back</a>
            
        </div>
    </div>
</footer>