<!-- template.html -->
<div class="container " style="min-height: 669px  !important;
max-width: 1865px !important;
">
    <!-- part 1 -->
    <div class="row justify-content-md-center">
        <div class="col ">
            <div class="css-165ep0a">

                <h1 class="css-1ykowef custom-h1">Christa Tigerstedt</h1>
                <p class="custom-text">Head of DevLab</p>
                <div class="css-1yjt3jx">
                    <div class="col d-flex justify-content-left">

                        <div class="btn-group rounded-circle" style="margin-bottom: 20px;">
                            <div class="position-relative rounded-circle bg-primary d-flex align-items-end justify-content-center"
                                style="width: 145px; height: 145px; padding-bottom: 40px;">
                                <a href="#" class="text-decoration-none">
                                    <img src="../img/people/christa.webp" alt="Circle Image"
                                    
                                        class="rounded-circle position-absolute top-50 start-50 translate-middle"
                                        style="width: 90%; height: 90%;">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-10 " style="max-width: 100% !important;">
            <div class="css-16i2mxe">
                <h2 class="css-kj9vo7 custom-h2">Summary</h2>
                <p class="custom-text">
                    Ms Tigerstedt (PhD) is a trainer, project manager and researcher at the Department of Business
                    Management and Analytics at Arcada UAS. She has a cross-disciplinary training with a human-centric
                    approach to the world (behavioural science).
                </p>
                <p class="custom-text">
                    She delivers trainings and lectures in organizational development and change (incl digitalization),
                    design thinking (ethnographical methods) and innovation -in Finland (also Åbo Akademi and University
                    of Helsinki) and abroad.
                </p>
                <p class="custom-text">
                    She is currently leading a projects related AI driven solutions and the deployment of social and
                    service robots in the service sectors (AFORA, MäRI, CASSIOPEIA etc). She is also involved in future
                    work life skills focused development and design thinking projects.
                </p>
               
                <div class="css-1bemglt"></div>
            </div>
        </div>

        <div class="col-md-auto">
          
        </div>
    </div>

    <!-- part 2 -->
    <div class="row justify-content-md-center">
        <div class="col ">
            <div class="css-165ep0a">

              
                <p class="custom-text">Lektor i företagsekonomi</p>
                <p class="custom-text">christa.tigerstedt@arcada.fi</p>
                <p class="custom-text">0294 282 529</p>
                <div class="css-1yjt3jx">
              
                </div>

            </div>
        </div>
        <div class="col-lg-10  " style="max-width: 100% !important;">
            <div class="css-16i2mxe">

                <h2 class="css-kj9vo7 custom-h2">Publications</h2>
                <p class="custom-text">
                    Hägglund, S. Tigerstedt, C., Biström, D. Espinosa-Leal, L., Wingren, M., Andersson, S., Penttinen,
                    J. & Kuvaja Adolfsson, K. (2022) Stakeholders’ experiences of and expectations for robot accents in
                    a dental care simulation. A Finland-Swedish case study..
                </p>
                <p class="custom-text">
                    L. Wallenius & C. Tigerstedt (2022). Design sprint in higher education, going from face to face to
                    remote mode..
                </p>
                <p class="custom-text">
                    Hägglund, S, Tigerstedt, C, Biström, D., Kristoffer-Kuvaja-Adolfsson, Penttinen, J., Wingren, M.,
                    Andersson, S. & Backholm-Nyberg, Y., Fant, H. & Espinosa-Leal, L. (2022). En glad maskin -
                    Processrapport från MäRI-projektet, människa-robotinteraktion i vårdkontext..
                </p>
                <p class="custom-text">
                    Tigerstedt, C. Biström, D. (2021) Teaching and learning with humanoid social and service robots in higher education -learnings from service design and it framework use case development modules. Available at: <a href="https://library.iated.org/view/TIGERSTEDT2021TEA">https://library.iated.org/view/TIGERSTEDT2021TEA</a> 
                </p>
                <p class="custom-text">
                    Majd A., Biström D., Tigerstedt C. & Espinosa-Leal L. (2021). Social and Service Robots Deployed for Social Distancing - Optimization and Placement. Available at: <a href="https://ieeexplore.ieee.org/document/9591050">https://ieeexplore.ieee.org/document/9591050</a>  
                </p>

            </div>
        </div>

        <div class="col-md-auto">
           
        </div>
    </div>


</div>

<!-- footer -->

<footer class="  footer  ">
    <div class="container-fluid d-flex justify-content-between align-items-center footer-custom">
        <div class="logo  ">
            <!-- <img src="../../img/nedladdning.svg" alt="Logo" width="100" height="100"> -->
        </div>
        <div class="exit-button">
            <a href="./" class="btn btn btn-dark" style="width: 10rem;">Back</a>
            
        </div>
    </div>
</footer>