<div class="row justify-content-end" style="padding-bottom: 150px !important;">



    <div class="col mt-5 d-flex justify-content-center">
        <div class="btn-group rounded-circle">
            <div class="position-relative rounded-circle bg-primary d-flex align-items-end justify-content-center"
                style="width: 200px; height: 200px; padding-bottom: 40px;">
     

                <a  onclick="selectedPerson('christa-name')" class="text-decoration-none">
                    <img src="../../img/people/christa.webp" alt="Circle Image"
                        class="rounded-circle position-absolute top-50 start-50 translate-middle"
                        style="width: 90%; height: 90%;">
                </a>
            </div>
        </div>
    </div> 




    <div class="col mt-5 d-flex justify-content-center">
        <div class="btn-group rounded-circle">
            <div class="position-relative rounded-circle bg-primary d-flex align-items-end justify-content-center"
                style="width: 200px; height: 200px; padding-bottom: 40px;">
                <a  onclick="selectedPerson('Dennis Biström')" class="text-decoration-none">
                    <img src="../../img/people/Dennis6_BW_cf4910c3e4.webp" alt="Circle Image"
                        class="rounded-circle position-absolute top-50 start-50 translate-middle"
                        style="width: 90%; height: 90%;">
                </a>
            </div>
        </div>
    </div>

    <div class="col mt-5 d-flex justify-content-center">
        <div class="btn-group rounded-circle">
            <div class="position-relative rounded-circle bg-primary d-flex align-items-end justify-content-center"
                style="width: 200px; height: 200px; padding-bottom: 40px;">
                <a onclick="selectedPerson('Leonardo Espinosa-Leal')" class="text-decoration-none">
                    <img src="../../img/people/Leonardo Espinosa-Leal.webp" alt="Circle Image"
                        class="rounded-circle position-absolute top-50 start-50 translate-middle"
                        style="width: 90%; height: 90%;">
                </a>
            </div>
        </div>
    </div>



</div>