<div class="container ">
    <div class="row  d-flex justify-content-center">
        <div class="col-md-12 text-left mb-4">
            <img src="../../img/people/robot.webp" class="img-fluid rounded" alt="arcada photo" >
            <p class="mt-0">Kristoffer Kuvaja-Adolfsson, Dennis Biström  |   18 October 2023</p>
            <h1>Reachy arrives at Techlabs</h1>
            <p>Hallå där! Välkommen till
                Techlabs. Jag är roboten Snow
                och jag jobbar här. Kom gärna
                fram och lär dig mera om mig.</p>
                
                
                
                
        </div>
    </div>
    
</div>
